celery[redis]
Flask
Flask-Admin
Flask-Mail
Flask-Migrate
Flask-Script
Flask-SQLAlchemy
mock
MySQL-Python
# https://github.com/flask-admin/flask-admin/issues/1588#issuecomment-367352233
SQLAlchemy==1.1.16
