Flask
Flask-Admin
# Higher versions of Blinker are incompatible with Python 2.7
blinker==1.5.0
Flask-Mail
Flask-SQLAlchemy
Flask-Script
Flask-Migrate
SQLAlchemy
configparser==3.8.1
importlib_metadata==1.7.0
zipp==2.2.1
celery[redis]==4.4.2
MySQL-Python
