{% macro edit() %}
	<p style="margin-left: 4px; padding-top: 5px">
	    Please click on each colorable area and give it a name.
	</p>
	<div id="coloring_book_image"></div>
	<div id="area_panel">
        <input id="colorable" type="checkbox" value="colorable" checked>
        <label for="colorable">This is a colorable area.</label><br>
        <label for="area_name">Name:</label>
        <input id="area_name" type="text" placeholder="name" required><br>
        <input type="button" id="save_area" value="Save" class="btn">
        <input type="button" id="cancel_area" value="Cancel" class="btn">
	</div>
{% endmacro %}
